@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.half-width {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.primary-btn {
    background-color: #fff;
    border: none;
    color: #005FAC;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.secondary-btn {
    background-color: #005FAC;
    border: none;
    color: #fff;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

/* header section start */

header {
    min-height: 120vh;
    background: url('./images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .half-width {
    align-items: flex-end;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
}

header h1, header p {
    color: #fff;
    text-align: right;
}

/* header section end */

/* main section starts */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* failures section starts */

.failures {
    margin: 100px 0;
}

.failures img {
    width: 80%;
}

.failures ul {
    padding-left: 0px;
    list-style: none;
}

.failures ul li:before {
    content: '✓';
    padding-right: 10px;
    color: rgb(62, 203, 123);
}

/* failures section ends */

/* plans section starts */

.plans {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.plans ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.plans ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plans ul li h3, .plans ul li p {
    margin: 5px 0;
}

/* plans section ends */

/* mindset section starts */

.mindset {
    margin: 50px 0;
}

.mindset-banner {
    position: relative;
    width: 100%;
}

.mindset-banner h1 {
    position: absolute;
    color: #fff;
    font-size: 50px;
    top: 20px;
    left: 20px;
}

.mindset-banner button {
    position: relative;
    top: 180px;
    left: 20px;
}

.mindset-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/* mindset section ends */


/* main section ends */

/* footer starts */

footer {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    background-color: #000;
    height: 80vh;
    color: #fff;
}

footer input {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* footer ends */